<div class="full-screen center-content" *ngIf="!this.loggedIn">
    <mat-card class="login">
        <mat-card-header class="login-header">Login</mat-card-header>
        <mat-card-content class="login-inputs">
                    <input #username placeholder="Username" class="input" name="usernameRef" ngModel>
                    <input #password placeholder="Password" class="input" >
        </mat-card-content>
        <mat-card-actions class="login-actions">
            <a href="/">Sign up</a>
            <button mat-stroked-button (click)="login(username.value, password.value)">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="full-screen center-content" *ngIf="this.loggedIn">
    <mat-card class="login">
        <button mat-stroked-button (click)="logout()">Logout</button>
    </mat-card>
</div>