<div class="forum">
    <mat-card class="header">
        <button mat-stroked-button (click)="navigateToForumHome()" class="back">Back</button>
        <mat-card-header class="titleRow">
            <div class="title">{{this.forum?.name}}</div>
            <button mat-icon-button *ngIf="isFaculty()" (click)="this.editForum()" class="more">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card-header>

        <h3>Admin: {{this.forum?.admin?.name}}</h3>
    </mat-card>
    <div class="content">
        <div class="addUser">
            <span style="width:100%; display: flex; flex-direction:row; margin-top:1em" *ngIf="isFaculty()">
                <mat-form-field appearance="outline">
                    <mat-label>Add a User</mat-label>
                    <input matInput placeholder="Enter username" #username>
                </mat-form-field>
                <button mat-icon-button (click)="addUserToForum(username.value)">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
            <mat-card style="width:100%">
                <mat-card-header style="width:100%">
                    <mat-card-title>
                        Users
                    </mat-card-title>
                </mat-card-header>
                <mat-list *ngFor="let user of this.forum?.users" style="width:100%">
                    <mat-list-item style="width:100%">
                        <button mat-icon-button *ngIf="this.currentForumSetting && user.id!=this.loggedInUser?.id && user.id!=this.forum?.admin?.id" (click)="deleteUser(user.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <img src="{{user.imgUrl}}" class="userAvatar" matListItemAvatar *ngIf="!this.currentForumSetting || user.id==this.loggedInUser?.id || user.id==this.forum?.admin?.id"/>
                        <span class="mdc-image-list__label">{{user.username}}</span>
                        <mat-divider></mat-divider>
                    </mat-list-item>

                </mat-list>
            </mat-card>
        </div>
        <div style="flex-grow: 1">
            <mat-toolbar class="forum-tools">
                <button mat-stroked-button (click)="openEditor()">Add Post +</button>
            </mat-toolbar>
            <app-posts [posts]="this.posts" [forumId]="this.forum?.id!"></app-posts>
        </div>

    </div>

</div>