.forum {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 90vw;
    padding: 1em;
}
.more {
    justify-self: flex-end;
}
.titleRow {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content:space-between;
}
.titleRow > div {
    font-weight: bolder;
    font-size: larger;
}
.title {
    justify-self: flex-start;
    text-align: center;
    width: fit-content;
    flex-grow: 1;
}
.back {
    align-self: flex-start;
}
.content {
    display: flex;
    flex-direction: row;
    width: 90vw;
    gap:1em;

}
.addUser {
    width: 25vw;
    height: fit-content;
    justify-self: flex-start;
}
.userAvatar {
    height: 1em;
    width: 1em;
}
.forum-tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}