<mat-card-content class="details">
    <div>
        <span>
            Roll Number
        </span>
        <br>
        <span>
            {{this.studentRollno}}
        </span>
    </div>
    <div>
        <span>
            Department
        </span>
        <br>
        <span>
            {{this.studentDepartment}}
        </span>
    </div>
    <div>
        <span>
            Class
        </span>
        <br>
        <span>
            {{this.studentClass}}
        </span>
    </div>          

</mat-card-content>
