<div class="full-screen horizontal-center">
    <div class="card two-column profile-card" *ngIf="isLoggedIn()">
        <div class="column profile-column">
            <div class="circle profile"><img src={{this.user.imgUrl}} class="profile-image"/></div>
            <p>{{this.user.username}}</p>
            <div class="upload-btn-wrapper">
                <button mat-stroked-button disabled style="border-color: black; color:black">
                    <span>Edit Profile Picture</span>
                    <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <input type="file" name="myfile" (change)="uploadFile($event)"/>
              </div>
        </div>
        <mat-card class="column">
            <h1>User Information</h1>
            <mat-card-content class="details">
                <div class="detail">
                    <span>
                        Username
                    </span>
                    <br>
                    <span>
                        {{this.user.username}}
                    </span>
                </div>
                <div>
                    <span>
                        E-Mail
                    </span>
                    <br>
                    <span>
                        {{this.user.email}}
                    </span>
                </div>
                <div>
                    <span>
                        Full Name
                    </span>
                    <br>
                    <span>
                        {{this.user.name}}
                    </span>
                </div>
                <div>
                    <span>
                        Contact Number
                    </span>
                    <br>
                    <span>
                        {{this.user.contact}}
                    </span>
                </div>
            </mat-card-content>
            <!--<h1>{{this.profileType}} Information</h1>
            <app-student-profile *ngIf="this.profileType=='Student'"></app-student-profile>
            <app-faculty-profile *ngIf="this.profileType=='Faculty'"></app-faculty-profile>-->
        </mat-card>
    </div>
    <div class="card two-column profile-card" *ngIf="!isLoggedIn()">
        Log in to view your profile
    </div>
</div>