<div class="full-screen horizontal-center">
    <div class="card two-column profile-card">
        <div class="column profile-column">
            <div class="circle profile"><img src={{this.profileImgSrc}} class="profile-image"/></div>
            <p>{{this.profileUsername}}</p>
            <button mat-stroked-button>
                <span>Edit Profile Picture</span>
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
        </div>
        <mat-card class="column">
            <h1>User Information</h1>
            <mat-card-content class="details">
                <div class="detail">
                    <span>
                        Username
                    </span>
                    <br>
                    <span>
                        {{this.profileUsername}}
                    </span>
                </div>
                <div>
                    <span>
                        E-Mail
                    </span>
                    <br>
                    <span>
                        {{this.profileEmail}}
                    </span>
                </div>
                <div>
                    <span>
                        Full Name
                    </span>
                    <br>
                    <span>
                        {{this.profileName}}
                    </span>
                </div>
                <div>
                    <span>
                        Contact Number
                    </span>
                    <br>
                    <span>
                        {{this.profileContact}}
                    </span>
                </div>
            </mat-card-content>
            <!--<h1>{{this.profileType}} Information</h1>
            <app-student-profile *ngIf="this.profileType=='Student'"></app-student-profile>
            <app-faculty-profile *ngIf="this.profileType=='Faculty'"></app-faculty-profile>-->
        </mat-card>
    </div>
</div>