/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-screen {
    width: 100vw;
    height: 100vh;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.horizontal-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.input {
    height: 3em;
    width: 95%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1.2px inset, rgba(0, 0, 0, 0.3) 0px 1.8px 3.6px -1.8px inset;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
}
.card {
    gap:2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-content: center;
    justify-content: center;
}

.circle {
    border-radius: 100%;
}
a {
    margin: 1em;
    text-decoration: none;
    color:cadetblue;
}
