<mat-card class="uploader">
    <mat-card-header>
        <mat-card-title>
            <h1>My Resources</h1>
        </mat-card-title>
        <mat-card-subtitle>Upload files for quick reference</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
            <div class="text-wrapper">
                <div class="centered">Drop your file here!</div>
            </div>
        </div>
        <!--droped image preview-->
        <div *ngFor="let file of files">
            <img *ngIf="file" [src]="file.url" width="100px" height="100px">
        </div>

    </mat-card-content>
        
    <mat-card-actions class="actions">
        <span>
            <button type="button" mat-stroked-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
        </span>
        <button mat-stroked-button (click)="uploadFile()">
            <span>Upload</span>
            <mat-icon>upload</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<div class="resource-list">
    <mat-card *ngFor="let resource of this.resources" class="resource">
        <app-resource [resource]="resource" [displayType]="'tile'"></app-resource>
        <mat-card-footer>
            <mat-action-row>
                <button mat-icon-button (click)="downloadFile(this.resource.url)">
                    <mat-icon>download</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteFile(this.resource.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-action-row>
        </mat-card-footer>
    </mat-card>

</div>