<div class="full-screen center-content">
    <mat-card class="signup">
        <mat-card-header class="signup-header">Signup</mat-card-header>
        <mat-card-content class="signup-inputs">
                    <input placeholder="Username" class="input">
                    <input type="email" placeholder="E-Mail" class="input">
                    <input placeholder="Password" class="input">
                    <input placeholder="Confirm Password" class="input">
        </mat-card-content>
        <mat-card-actions class="signup-actions">
            <button mat-stroked-button>Sign up</button>
        </mat-card-actions>
    </mat-card>
</div>