.full-screen {
    width: 100vw;
    height: 100vh;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.signup {
    width: 80%;
    max-width: 20em;
    gap:2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.input {
    height: 3em;
    width: 95%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1.2px inset, rgba(0, 0, 0, 0.3) 0px 1.8px 3.6px -1.8px inset;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
}
.signup-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.signup-actions > a {
    text-decoration: none;
    color:cadetblue;
}
#roleButtonGroup {
    width: 80%;
    max-width: 20em;
    display: flex;
    justify-content: center;
}
#roleButtonGroup > mat-button-toggle {
    flex-grow: 1;

}