
.column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 20em;
    height: max-content;
}
.heading {
    font-weight: bold;
    font-size: large;
}
.signup {
    gap:1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    width: fit-content;
    max-width: 90vw;
    margin: 1rem;
    justify-content: center;
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.input {
    height: 3em;
    width: 95%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1.2px inset, rgba(0, 0, 0, 0.3) 0px 1.8px 3.6px -1.8px inset;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
}
.signup-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#roleButtonGroup {
    display: flex;
    justify-content: center;
}
#roleButtonGroup > mat-button-toggle {
    flex-grow: 1;

}