    <mat-card class="signup">
        <div class="column">
            <div class="heading">
                Signup
            </div>
            <mat-card-content class="signup-inputs">

                <div>{{this.error}}</div>
                <input placeholder="Username" class="input" #username>
                <input type="email" placeholder="E-Mail" class="input" #email>
                <input placeholder="Name" class="input" #name>
                <input placeholder="Password" class="input" #password>
                <input placeholder="Confirm Password" class="input" #confirmPassword>
            </mat-card-content>
        </div>
        <div class="column">
            <mat-button-toggle-group #group="matButtonToggleGroup" id="roleButtonGroup">
                <mat-button-toggle value="student" checked="true" aria-label="Text align left">
                    Student
                </mat-button-toggle>
                <mat-button-toggle value="faculty" aria-label="Text align center">
                    Faculty
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-card-content class="signup-inputs">
                <div class="heading">{{group.value.charAt(0).toUpperCase() + group.value.slice(1)}} Details</div>
                    <input placeholder="Roll Number" *ngIf="group.value=='student'" class="input" [value]="rollNo">
                    <input placeholder="Job Title" *ngIf="group.value=='faculty'" class="input" [value]="jobTitle">
                <div>
                    <mat-label>Department</mat-label>
                    <mat-select #selectedDept>
                        <mat-option *ngFor="let dept of departments" [value]="dept">
                            {{dept}}
                        </mat-option>
                    </mat-select>
                </div>
                <mat-card-actions class="signup-actions">
                    <button mat-stroked-button
                        (click)="signup(username.value, email.value, name.value, password.value, confirmPassword.value, group.value, selectedDept.value, this.rollNo, this.jobTitle)">Sign
                        up</button>
                </mat-card-actions>
            </mat-card-content>
        </div>
    </mat-card>

