<mat-card class="post">
    <mat-card-header class="post-header">
        <img src={{this.post?.posterImgUrl}} mat-card-avatar />
        <mat-card-title>
            <span>{{this.post?.type}}: {{this.post?.title}}</span>
            <button mat-icon-button *ngIf="this.forumSetting" class="deleteButton" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle>
            <span>
                {{this.post?.posterName}}
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p [innerHTML]="this.post!.content">
            {{this.post?.content}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <span style="display: flex; flex-grow:1">Reply</span>
        <div style="display: flex; flex-grow:2">
            <input type="text" style="display: flex; flex-grow:1; height: 2em; align-self:center" #replyContent>
            <button mat-icon-button (click)="addPostReply(replyContent.value)">
                <mat-icon>reply</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </mat-card-actions>
    <mat-card-footer>
        <app-post-reply [posts]="this.post?.posts" [forumId]="this.forumId"></app-post-reply>
    </mat-card-footer>
</mat-card>